@charset "gb2312";
.login {

  position: relative;
  left: 328px;
  top: 20px;

}
.pageturn {
    clear: both;
    height: 30px;
    margin: 30px auto;
    display: table;
    text-align: center;
}

.pageturn .pagelist {
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
}

.pageturn li {
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
    float: left;
    text-align: center;
}

.pageturn li:first-child {
    margin-left: 0;
}

.pageturn li:hover a, .pageturn .active a {
    background: #717171;
    color: #fff;
    border-color: #eaeaea;
}

.pageturn a {
    border: 1px solid #eaeaea;
    display: block;
    height: 28px;
    color: #6c6c6c;
}

.pageturn .long {
    width: 100px;
}

.pageturn .none a {
    border: 0;
}