<!doctype html>
<html>
{% load staticfiles %}
<head>
<meta charset="utf-8">
<title>{% block title %}个人博客模板古典系列之――江南墨卷{% endblock %}</title>
<meta name="keywords" content="个人博客模板古典系列之――江南墨卷" />
<meta name="description" content="个人博客模板古典系列之――江南墨卷" />
<link href="{% static 'css/base.css' %}" rel="stylesheet">
<link href="{% static 'css/index.css' %}" rel="stylesheet">
<link href="{% static 'css/login.css' %}" rel="stylesheet"  >
    {% block custom_css %}{% endblock %}
<!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>

    {% block custom_js %}{% endblock %}
</head>
<body>
<div id="wrapper">
  <header>
    <div class="headtop"></div>
    <div class="contenttop">
      <div class="logo f_l">个人博客模板古典系列之――江南墨卷</div>
      <div class="search f_r">
        <form action="/e/search/index.php" method="post" name="searchform" id="searchform">
          <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字'}" type="text">
          <input name="show" value="title" type="hidden">
          <input name="tempid" value="1" type="hidden">
          <input name="tbname" value="news" type="hidden">
          <input name="Submit" class="input_submit" value="搜索" type="submit">
        </form>
      </div>
	<div class="login">
	<button type="button"  onclick="window.open({% url 'login' %})">登录</button>
	<button type="button"  onclick="window.open({% url 'login' %})">注册</button>
		</div>
      <div class="blank"></div>
      <nav>
        <div  class="navigation">
          <ul class="menu">
            <li><a href={%  url 'index' %}>网站首页</a></li>
            <li><a href={%  url 'about' %}>关于我</a>
              <ul>
                <li><a href={%  url 'about' %}>个人简介</a></li>

                <li><a href={%  url 'listpic' %}>个人相册</a></li>
              </ul>
            </li>
            <li><a href={%  url 'newslistpic' %}>我的日记</a>
              <ul>
                <li><a href={%  url 'newslistpic' %}>个人日记</a></li>
                <li><a href={%  url 'newslistpic' %}>学习笔记</a></li>
              </ul>
            </li>
            <li><a href={%  url 'newslistpic' %}>技术文章</a> </li>
            <li><a href="#">给我留言</a> </li>
          </ul>
        </div>
      </nav>
      <SCRIPT type=text/javascript>
	// Navigation Menu
	$(function() {
		$(".menu ul").css({display: "none"}); // Opera Fix
		$(".menu li").hover(function(){
			$(this).find('ul:first').css({visibility: "visible",display: "none"}).slideDown("normal");
		},function(){
			$(this).find('ul:first').css({visibility: "hidden"});
		});
	});
</SCRIPT>
    </div>
  </header>
  <div class="jztop"></div>
{% block container %}
{% endblock %}
{% block page_turn %}
{% endblock %}
  <footer>
    <div class="footer">
      <div class="f_l">
        <p>All Rights Reserved 版权所有：<a href="http://www.yangqq.com">杨青个人博客</a> 备案号：蜀ICP备00000000号</p>
      </div>
      <div class="f_r textr">
        <p>Design by DanceSmile</p>
      </div>
    </div>
  </footer>
</div>
<script src="{% static 'js/bound.js' %}"></script>
</body>
</html>
